.block {
    background-color: white;
    margin: auto;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 90px;
}

.relative-wrapper {
    position: relative;
}

.absolute-wrapper {
    position: absolute;
}

.block-content {
    text-overflow: ellipsis;
    overflow: hidden;
}